<%= form_for @note, html: { multipart: true } do |f|%>
  <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Add a corresponding category"}%>
  <h2>Image(upload up to 5)</h2>
  <%= file_field_tag "images[]", type: :file, multiple: true %>
  <h2>Title </h2> <%= f.text_field :title%>
  <h2>Content</h2> <%= f.text_area :content%>
  <h2>Price </h2> <%= f.text_field :price%>
  <%= f.submit%>
 <%end%>
